* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #ddd;
    padding: 80px;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    color: #FFF;
}

input, select {
    padding: 8px;
    margin: 16px;
    width: 160px;
    text-align: center;
    font-size: 24px;
    color: #000;
    border: 2px solid #FFF;
    -webkit-appearance: none;
}

select {
    width: 40px;
    background-color: transparent;
    color: #FFF;
    cursor: pointer;
}

#resultado {
    background-color: transparent;
    color: #FFF;
    margin: 0 20px;
}